language: php
php:
  - 5.5
  - 5.4

before_script:
  - composer self-update && composer --version
  - composer update --dev

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

script: phpunit --coverage-clover=coverage.clover --configuration dev/phpunit.xml dev/RefactorTests

notifications:
  email:
    - dev@funivan.com